[Unit]
Description=Run Installer Script
Requires=pacman-init.service
After=pacman-init.service
ConditionPathExists=/usr/local/bin/install-script

[Service]
Type=oneshot
ExecStart=/usr/local/bin/install-script

[Install]
WantedBy=multi-user.target
